services:
  mysql:
    image: mysql:8.0
    container_name: project-j2ee
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: website_signalement
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin123
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

volumes:
  mysql-data: